@use "../../style/abstract" as *;

.faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    padding: 0 30px 0 30px;

    @include device(mobile) {
        margin-top: 20px;
        padding: 0;
        gap: 20px;
    }
}