@use "../../style/abstract" as *;

.article-left {

    &__title {
        color: $textColor;
        font-size: 36px;
    }

    &__location {
        color: $textColor;
        font-size: 18px;
    }
}

.article-collapse {
    display: flex;
    gap: 70px;
}