@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin device ($breakpoints) {

    @if $breakpoints == tablet {
        @media (max-width: 1240px) {
            @content;
        }
    }

    @if $breakpoints == mobile {
        @media (max-width: 750px) {
            @content;
        }
    }

}