@use "../../style/abstract" as *;

.article-content {
    display: flex;
}

.article-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 2;

    &__title {
        color: $textColor;
        font-size: 36px;
    }

    &__location {
        color: $textColor;
        font-size: 18px;
    }
}

.article-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.host-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

    &__name {
        width: 100px;
        text-align: end;
        margin-right: 10px;
        color: $textColor;
        font-size: 18px;
    }

    &__img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        object-fit: cover;
    }
}

.article-collapse {
    display: flex;
    gap: 70px;
    margin-top: 20px;
}


@include device(mobile) {
    .article-content {
        display: flex;
        flex-direction: column;
    }

    .article-left {
        display: flex;
        flex-direction: column;
        gap: 10px;
    
        &__title {
            font-size: 18px;
        }
    
        &__location {
            font-size: 14px;
        }
    }

    .article-right {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 20px;
    }

    .article-collapse {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    .host-container {
        &__name {
            margin-right: 10px;
            color: $textColor;
            font-size: 14px;
            width: 60px;
        }
    
        &__img {
            border-radius: 50%;
            width: 35px;
            height: 35px;
        }
    }
}