@use "../../style/abstract" as *;

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    &__logo {
        width: 150px;

        @include device(mobile){
                width: 120px;
        }
    }
}

.navbar-menu {
    display: flex;
    gap: 30px;

    @include device(mobile) {
        gap: 15px;
    }

    &__link {
        font-size: 24px;
        color: $textColor;
        font-family: 'Montserrat', sans-serif;

        @include device(mobile) {
                font-size: 15px;
        }
    }
    
    &__link:hover {
        text-decoration: underline;
    }
    
    &__link-active {
        text-decoration: underline;
    }

}