@use "abstract" as *;

.collapse-container {
    width: 90%;
}

.collapse-content {
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background: $textColor;

    &__title {
        font-size: 24px;
        color: white;
        border: none;
    }

    &__img {
        transform: rotate(180deg);
    }

    &__img.active {
        transform: rotate(360deg);
    }

    &__text {
        color: $textColor;
        background: $grayColor;
        padding: 15px;
        border-radius: 5px;
    }
}