@use "../../style/abstract" as *;

.store-container {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-gap: 50px;
    justify-content: center;
    background: $grayColor;
    border-radius: 20px;
    margin: 40px 0;
    padding: 40px 0;

    @include device(tablet) {
        grid-template-columns: repeat(2, 45%);
        padding: 30px 0;
        grid-gap: 30px;
    }

    @include device(mobile) {
        display: flex;
        gap: 20px;
        flex-direction: column;
        background: transparent;
        margin: 0;

        .card-container {
            height: 255px;
        }
    }
}
