@use "../../style/abstract" as *;

.banner {
    margin-top: 35px;
    height: 100%;
    width: 100%;
}

.banner-content {
    position: relative;
    width: 100%;
    height: 100%;
    @include flex;
    
    &__title {
        position: absolute;
        font-size: 48px;
        font-weight: 500;
        font-family: $fontFamily;
        color: white;
        z-index: 99;
    }

    &__bg {
        position: absolute;
        background-color: $bgColorGray;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    
}

@include device(tablet) {
    
    .banner-content {
        &__title {
            font-size: 35px;
        }
    }
}
@include device(mobile) {
    
    .banner-content {
        justify-content: flex-start;
        
        &__title {
            font-size: 24px;
            width: 220px;
            margin-left: 10px;
        }
    }
}