@use "../../style/abstract" as *;

.slider {
    position: relative;
    width: 100%;
    height: 415px;
    margin: 35px 0;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    &__back {
        position: absolute;
        top: 40%;
        left: 15px;
    }

    &__next {
        position: absolute;
        top: 40%;
        right: 15px;
    }

    &__counter {
        position: absolute;
        color: white;

        bottom: 20px;
        width: 100%;
        text-align: center;
    }
}

@include device(mobile) {
    .slider {
        height: 255px;
    
        &__back {
            height: 19px;
            top: 48%;
        }
    
        &__next {
            height: 19px;
            top: 48%;
        }
    
        &__counter {
            display: none;
        }
    }
}